* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Domine', serif;
  font-family: 'Open Sans', sans-serif;
  color: #602d00; }

header {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f6efd3; }
  header div {
    width: 50%;
    height: 100%; }
    header div img {
      height: 100%; }
    header div input {
      display: none; }
      header div input:checked ~ ul {
        height: 25px;
        transition: all .7s; }
      header div input:checked ~ label .fa-pizza-slice {
        transform: scaleX(1);
        transition: all .7s; }
    header div label {
      height: 100%; }
      header div label svg {
        font-size: 35px;
        margin-top: 15px;
        margin-right: 15px;
        transform: scaleX(-1);
        transition: all .7s;
        cursor: pointer; }
  header .div__navBar {
    text-align: end; }
    header .div__navBar ul {
      float: right;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 100vw;
      height: 0;
      overflow: hidden;
      margin-top: 18px;
      font-size: 20px;
      list-style-type: none;
      background-color: #f6efd3;
      transition: all .7s; }
      header .div__navBar ul li {
        cursor: pointer;
        padding-bottom: 10px; }
