header{
    width: 100vw;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 239, 211);
    div{
        width: 50%;
        height: 100%;
        img{
            height: 100%;
        }
        input{
            display: none;
            &:checked ~ ul{
                height: 25px;
                transition: all .7s;
            }
            &:checked ~ label .fa-pizza-slice{
                transform: scaleX(1);
                transition: all .7s;
            }
        }
        label{
            height: 100%;
            svg{
                font-size: 35px;
                margin-top: 15px;
                margin-right: 15px;
                transform: scaleX(-1);
                transition: all .7s;
                cursor: pointer;
            }
        }
    }
    .div__navBar{
        text-align: end;
        ul{
            float: right;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 100vw;
            height: 0;
            overflow: hidden;
            margin-top: 18px;
            font-size: 20px;
            list-style-type: none;
            background-color: rgb(246, 239, 211);
            transition: all .7s;
            li{
                cursor: pointer;
                padding-bottom: 10px;
            }
        }
    }
}